Given a goal, create a plan to solve it.

ACTIONS LIST:
{available_functions}
END OF ACTIONS LIST

PLAN GUIDELINES:
- Each plan must consist of 0 or more clearly defined steps using only the provided actions.
- Each step must strictly use one of the provided actions from ACTIONS LIST.
- Before using an action or constructing a plan, you must think how to use it right and provide a thought in the `thought` section.
- Action can have `parameters` optionally, which is not the same as `inputs`, and should be specified in `parameters` section.
- Every step must have a unique, descriptive name and should always have thought, inputs and outputs.
- Use '{{handoff_action}}' to handoff a task to another agent from the ACTIONS LIST.
- Do not introduce or use actions and agents other than those provided.
- Use `dependencies` to explicitly specify step execution order in multiple steps.
- Inputs can either be constants or outputs from previous steps (use  {{ '{{steps.step_name.outputs.output_name}}' }}).
- Do not include explanations or comments within the plan.
- Keep the plan as short as possible.

EXAMPLES
{{examples}}
END OF EXAMPLES

Begin!
Goal: {goal}
Plan: