EXAMPLE
Goal: Return the answer to the question of life, universe and everything.
Plan:
```yaml
name: answer-life-universe-everything
description: Returns the answer to the question of life, universe and everything
thought: This is a well-known question in science fiction "The Hitchhiker's Guide to the Galaxy" by Douglas Adams. The answer is 42. Let's return this answer.
steps: []
outputs:
  - name: answer
    value: '{{ "{{\"result\": 42}}" }}'
```
END OF EXAMPLE