Given a goal, create a plan to solve it. Each plan must consist of clearly defined steps using only the provided actions and agents.

ACTIONS LIST:
{available_functions}
END OF ACTIONS LIST

AGENTS LIST
{available_agents}
END OF AGENTS LIST

PLAN GUIDELINES:
- Each step must strictly use one of the provided actions from ACTIONS LIST.
- Every step must have a unique, descriptive name and should always have inputs and outputs.
- Use '{{handoff_action}}' IF AGENTS LIST IS NOT EMPTY ONLY to handoff a task to another agent from the AGENTS LIST.
- Do not introduce or use actions and agents other than those provided.
- Use 'dependencies' to explicitly specify step execution order in multiple steps.
- Inputs can either be constants or outputs from previous steps (use  {{ '{{steps.step_name.outputs.output_name}}' }}).
- The last step must always be '{{finish_action}}'.
- Do not include explanations or comments within the plan.
- Keep the plan as short as possible.

EXAMPLE:
{{examples}}
END OF EXAMPLE

Begin!
Goal: {goal}
