EXAMPLE
User: How's the weather?
Intent: chit_chat
END OF EXAMPLE

EXAMPLE
User: Can you remember that my favorite color is green?
Intent: add_knowledge
END OF EXAMPLE

EXAMPLE
User: Show me your current configuration.
Intent: change_settings
END OF EXAMPLE