# This file defines code owners for the Praxis SDK Agents repository
# Code owners are automatically requested for review when someone opens a PR

* @hyp0cr4t @0xDevZip @ruthuwjwb

/docs/ @hyp0cr4t @ruthuwjwb @0xDevZip
*.md @hyp0cr4t @ruthuwjwb @0xDevZip
/README.md @hyp0cr4t @ruthuwjwb @0xDevZip

/pyproject.toml @hyp0cr4t @hexavor
/poetry.lock @hyp0cr4t @hexavor
/.github/ @hyp0cr4t @hexavor

/tests/ @hyp0cr4t @0xDevZip

/praxis_sdk/ @hyp0cr4t @0xDevZip @hexavor

/.github/workflows/ @hyp0cr4t @hexavor

/LICENSE @hyp0cr4t @0xDevZip @ruthuwjwb @hexavor
